### Ejercicios Regresión Lineal - Notas

##### Importar Paquetes

In [57]:
##Importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Funciones de Base

In [58]:
### Función cargar data sea .csv o .xlsx
def importDatos(ruta, archivo, ext, sepa):
    if ext == '.csv':
        data = pd.read_csv(ruta+archivo+ext, sep=sepa)
        return data
    elif ext == '.xlsx':
        data = pd.read_excel(ruta+archivo+ext)
        return data
    else:
        print('Extensión Diferente')

## Función para datos
def datos_NAN(df):
    if isinstance(df, pd.DataFrame):
        total_na = df.isna().sum().sum()
        print("Dimesiones: %d filas, %d columnas" % (df.shape[0], df.shape[1]))
        print("Total de Valores NAN: %d" % (total_na))
        print("%40s %10s  %10s %10s" % ("Nombre Columna", "Tipo Dato", "#Unicos", "Cant Valores NAN"))
        col_name = df.columns
        dtyp = df.dtypes
        uniq = df.nunique()
        na_val = df.isna().sum()
        for i in range(len(df.columns)):
            print("%40s %10s  %10s %10s" % (col_name[i], dtyp[i], uniq[i], na_val[i]))
    else:
        print("Se esperaba un dataframe: %15s" % (type(df)))

### Función para cambiar de texto a numerico
def cambioTextNum(df, nomCol, tipo):
    df[nomCol] = df[nomCol].astype(tipo)
    return df[nomCol]

#### Llamado de Funciones

In [59]:
### Cargue de data
notasEstudiantes = importDatos('./Datasets/', 'student-mat', '.csv', ';')

notasEstudiantes.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [60]:
datos_NAN(notasEstudiantes)

Dimesiones: 395 filas, 33 columnas
Total de Valores NAN: 0
                          Nombre Columna  Tipo Dato     #Unicos Cant Valores NAN
                                  school     object           2          0
                                     sex     object           2          0
                                     age      int64           8          0
                                 address     object           2          0
                                 famsize     object           2          0
                                 Pstatus     object           2          0
                                    Medu      int64           5          0
                                    Fedu      int64           5          0
                                    Mjob     object           5          0
                                    Fjob     object           5          0
                                  reason     object           4          0
                                guardian     object           3          0
                              traveltime      int64           4          0
                               studytime      int64           4          0
                                failures      int64           4          0
                               schoolsup     object           2          0
                                  famsup     object           2          0
                                    paid     object           2          0
                              activities     object           2          0
                                 nursery     object           2          0
                                  higher     object           2          0
                                internet     object           2          0
                                romantic     object           2          0
                                  famrel      int64           5          0
                                freetime      int64           5          0
                                   goout      int64           5          0
                                    Dalc      int64           5          0
                                    Walc      int64           5          0
                                  health      int64           5          0
                                absences      int64          34          0
                                      G1      int64          17          0
                                      G2      int64          17          0
                                      G3      int64          18          0

In [61]:
datosNotas = notasEstudiantes

#### **1. Conversión de datos de tipo texto a numerico (variables dummies)**

In [68]:
## Se realiza el cambio de Mjob a tipo numerico
datosNotas['Medu'] = cambioTextNum(datosNotas, 'Medu','float64')

datos_NAN(datosNotas)

Dimesiones: 395 filas, 33 columnas
Total de Valores NAN: 0
                          Nombre Columna  Tipo Dato     #Unicos Cant Valores NAN
                                  school     object           2          0
                                     sex     object           2          0
                                     age      int64           8          0
                                 address     object           2          0
                                 famsize     object           2          0
                                 Pstatus     object           2          0
                                    Medu    float64           5          0
                                    Fedu      int64           5          0
                                    Mjob     object           5          0
                                    Fjob     object           5          0
                                  reason     object           4          0
                                guardian     object           3          0
                              traveltime      int64           4          0
                               studytime      int64           4          0
                                failures      int64           4          0
                               schoolsup     object           2          0
                                  famsup     object           2          0
                                    paid     object           2          0
                              activities     object           2          0
                                 nursery     object           2          0
                                  higher     object           2          0
                                internet     object           2          0
                                romantic     object           2          0
                                  famrel      int64           5          0
                                freetime      int64           5          0
                                   goout      int64           5          0
                                    Dalc      int64           5          0
                                    Walc      int64           5          0
                                  health      int64           5          0
                                absences      int64          34          0
                                      G1      int64          17          0
                                      G2      int64          17          0
                                      G3      int64          18          0